.charactersheet {
	position: relative;
}

input[type=text] {
	background: none;
	border: none;
	font-family: serif;
	font-size: 16px;
	color: #1e5653ff;
}

.name {
	position: absolute;
	left: 162px;
	top: 263px;
	transform: rotate(-19deg);
	width: 120px;
}


.habitat {
	position: absolute;
	left: 627px;
	top: 295px;
	transform: rotate(19deg);
	width: 120px;
}

.note_0 {
	position: absolute;
	left: 80px;
	top: 494px;
	width: 288px;
}

.note_1 {
	position: absolute;
	left: 80px;
	top: 522px;
	width: 288px;
}

.note_2 {
	position: absolute;
	left: 80px;
	top: 550px;
	width: 288px;
}

.note_3 {
	position: absolute;
	left: 80px;
	top: 580px;
	width: 288px;
}

.note_4 {
	position: absolute;
	left: 448px;
	top: 494px;
	width: 288px;
}

.note_5 {
	position: absolute;
	left: 448px;
	top: 522px;
	width: 288px;
}

.note_6 {
	position: absolute;
	left: 448px;
	top: 550px;
	width: 288px;
}

.note_7 {
	position: absolute;
	left: 448px;
	top: 580px;
	width: 288px;
}

.effect_value_0 {
	position: absolute;
	left: 85px;
	top: 636px;
	width: 15px;
}

.effect_value_1 {
	position: absolute;
	left: 85px;
	top: 681px;
	width: 15px;
}

.effect_value_2 {
	position: absolute;
	left: 85px;
	top: 729px;
	width: 15px;
}

.effect_value_3 {
	position: absolute;
	left: 85px;
	top: 773px;
	width: 15px;
}

.effect_value_4 {
	position: absolute;
	left: 85px;
	top: 821px;
	width: 15px;
}

.effect_value_5 {
	position: absolute;
	left: 85px;
	top: 866px;
	width: 15px;
}


.effect_value_6 {
	position: absolute;
	left: 326px;
	top: 636px;
	width: 15px;
}

.effect_value_7 {
	position: absolute;
	left: 326px;
	top: 681px;
	width: 15px;
}

.effect_value_8 {
	position: absolute;
	left: 326px;
	top: 729px;
	width: 15px;
}

.effect_value_9 {
	position: absolute;
	left: 326px;
	top: 773px;
	width: 15px;
}

.effect_value_10 {
	position: absolute;
	left: 326px;
	top: 821px;
	width: 15px;
}

.effect_value_11 {
	position: absolute;
	left: 326px;
	top: 866px;
	width: 15px;
}

.effect_value_12 {
	position: absolute;
	left: 567px;
	top: 636px;
	width: 15px;
}

.effect_value_13 {
	position: absolute;
	left: 567px;
	top: 681px;
	width: 15px;
}

.effect_value_14 {
	position: absolute;
	left: 567px;
	top: 729px;
	width: 15px;
}

.effect_value_15 {
	position: absolute;
	left: 567px;
	top: 773px;
	width: 15px;
}

.effect_value_16 {
	position: absolute;
	left: 567px;
	top: 821px;
	width: 15px;
}

.effect_value_17 {
	position: absolute;
	left: 567px;
	top: 866px;
	width: 15px;
}

.effect_name_0 {
	position: absolute;
	left: 135px;
	top: 636px;
	width: 143px;
}

.effect_name_1 {
	position: absolute;
	left: 135px;
	top: 681px;
	width: 143px;
}

.effect_name_2 {
	position: absolute;
	left: 135px;
	top: 729px;
	width: 143px;
}

.effect_name_3 {
	position: absolute;
	left: 135px;
	top: 773px;
	width: 143px;
}

.effect_name_4 {
	position: absolute;
	left: 135px;
	top: 821px;
	width: 143px;
}

.effect_name_5 {
	position: absolute;
	left: 135px;
	top: 866px;
	width: 143px;
}


.effect_name_6 {
	position: absolute;
	left: 377px;
	top: 636px;
	width: 143px;
}

.effect_name_7 {
	position: absolute;
	left: 377px;
	top: 681px;
	width: 143px;
}

.effect_name_8 {
	position: absolute;
	left: 377px;
	top: 729px;
	width: 143px;
}

.effect_name_9 {
	position: absolute;
	left: 377px;
	top: 773px;
	width: 143px;
}

.effect_name_10 {
	position: absolute;
	left: 377px;
	top: 821px;
	width: 143px;
}

.effect_name_11 {
	position: absolute;
	left: 377px;
	top: 866px;
	width: 143px;
}

.effect_name_12 {
	position: absolute;
	left: 618px;
	top: 636px;
	width: 143px;
}

.effect_name_13 {
	position: absolute;
	left: 618px;
	top: 681px;
	width: 143px;
}

.effect_name_14 {
	position: absolute;
	left: 618px;
	top: 729px;
	width: 143px;
}

.effect_name_15 {
	position: absolute;
	left: 618px;
	top: 773px;
	width: 143px;
}

.effect_name_16 {
	position: absolute;
	left: 618px;
	top: 821px;
	width: 143px;
}

.effect_name_17 {
	position: absolute;
	left: 618px;
	top: 866px;
	width: 143px;
}
