.die {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    text-align: center;
    padding: 0.5em;
    margin: 0.5em;
    border: 2px solid black;
    border-radius: 20%;
    user-select: none;
    position: relative;
}

.die[data-selected="true"]::before {
    content: "";
    width: 140%;
    height: 140%;
    position: absolute;
    left: -20%;
    top: -20%;
    border-radius: 10%;
    background: linear-gradient(135deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 42%,
                                rgba(255,32,0,1) 42%, rgba(255,32,0,0.8) 58%,
                                rgba(0,0,0,0) 58%, rgba(0,0,0,0) 100%);
    animation: 0.6s strikethrough;
}

@keyframes strikethrough {
    from {
        clip-path: polygon(-50% 50%, 50% 150%, 50% 150%, -50% 50%);
    }
    to {
        clip-path: polygon(-50% 50%, 50% 150%, 150% 50%, 50% -50%);
    }
}

.dieani1 {
    animation: 2s roll;
}

.dieani2 {
    animation: 2s roll2;
}

@keyframes roll {
    from {
        transform: scale(1.5);
    }
    to {
    }
}

@keyframes roll2 {
    from {
        transform: scale(1.5);
    }
    to {
    }
}

.diebox {
    display: flex;
    justify-content: center;
    margin: 1em 0;
    width: 20em;
}

#tabs {
    display: flex;
}
#tabs > span {
    display: inline-block;
    min-width: 4em;
    height: 1.2em;
    margin: 0 2px;
    background-color: gray;
}
#tabs > span.selected {
    background-color: lightyellow;
}

#main {
    display: grid;
    grid-template-areas:
        "roller char"
        ". char"
        "save char";
}

#characters {
    grid-area: char;
}

#roller {
    grid-area: roller;
}

#savewidget {
    grid-area: save;
}
